header{
    width: 100%;
    height: 120px;
    font-size:30px;
    background-color: bisque;
}   

.logo{
    height: 100px; 
    width: 100px;
    float: left;
    margin-left: 280px;
}

nav{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.content{
    width: 960px; 
    margin: auto;
    margin-top: 30px;
}

footer{
    width: 100%;
    height: 100px;
    padding-top: 30px;
    background-color: bisque;
}

.table1{
    background-color:   blanchedalmond;
}

.table2{
    background-color: bisque;
}
